/* line 8, ../scss/style.scss */
.align-mid, .splashScreen #credit, .splashScreen #startButton {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

/* line 14, ../scss/style.scss */
.shadow-1, .splashScreen #startButton {
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
}

/* line 22, ../scss/style.scss */
body {
  background-color: #e7deaf;
  width: 100vw;
  height: 100vh;
  position: relative;
  font-family: 'Frontage Bold',Helvetica,sans-serif;
  overflow: hidden;
}

/* line 32, ../scss/style.scss */
.splashScreen {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 999;
  top: 0;
  visibility: hidden;
}
/* line 39, ../scss/style.scss */
.splashScreen #introTypo {
  margin: 20px auto;
  width: 50vw;
  position: relative;
}
/* line 44, ../scss/style.scss */
.splashScreen #credit {
  bottom: 5%;
}
/* line 48, ../scss/style.scss */
.splashScreen #startButton {
  cursor: pointer;
  font-size: 1.5em;
  color: white;
  background-color: black;
  bottom: 12%;
  border-radius: 0px;
  width: 320px;
  height: 60px;
  text-decoration: none;
  border: none;
}

/* line 64, ../scss/style.scss */
video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(images/bg.jpg) no-repeat;
  background-size: cover;
}

/* line 82, ../scss/style.scss */
#country-title {
  margin: 80px auto 240px auto;
  text-align: center;
  font-size: 8em;
}

/* line 89, ../scss/style.scss */
.grid {
  width: 830px;
  text-align: center;
  margin: 0 auto;
}

/* line 95, ../scss/style.scss */
.selection-blocks {
  cursor: pointer;
  width: 200px;
  height: 160px;
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 103, ../scss/style.scss */
.selection-blocks:nth-child(1) {
  background-color: white;
}
