/* line 7, ../scss/style.scss */
body {
  background-color: #F0B67F;
  width: 100%;
  height: 100%;
  display: relative;
  font-family: "Helvetica", sans-serif;
}

/* line 17, ../scss/style.scss */
#country-title {
  margin: 100px auto;
  text-align: center;
  font-size: 8em;
}

/* line 24, ../scss/style.scss */
.selection-wrapper {
  display: flex;
  position: absolute;
  width: 80vw;
  justify-content: space-between;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, 0);
}

/* line 34, ../scss/style.scss */
.selection-blocks {
  cursor: pointer;
  width: 200px;
  height: 200px;
  background-color: #C7EFCF;
}
