/* ----- Colours ----- */
/* ----- Settings ----- */
/* ----- General ----- */
/* line 20, ../scss/style.scss */
.align-mid, .splashScreen #credit, button, .block-area img {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

/* line 26, ../scss/style.scss */
.shadow-1, button {
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
}

/* line 30, ../scss/style.scss */
h2 {
  color: white;
  font-size: 2em;
  text-align: center;
}

/* line 36, ../scss/style.scss */
body {
  background-color: #e7deaf;
  width: 100vw;
  height: 100vh;
  font-family: 'Frontage Bold', Helvetica, sans-serif;
  overflow: auto;
}

/* ----- Splash screen ----- */
/* line 46, ../scss/style.scss */
.blockScreen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 99999;
  visibility: hidden;
}

/* line 55, ../scss/style.scss */
.splashScreen {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 9999;
  top: 0;
  visibility: hidden;
}
/* line 62, ../scss/style.scss */
.splashScreen #introTypo {
  margin: 20px auto;
  width: 50vw;
  position: relative;
}
/* line 67, ../scss/style.scss */
.splashScreen #credit {
  bottom: 5%;
  white-space: nowrap;
}

/* line 74, ../scss/style.scss */
button {
  font-family: 'Bangers', cursive;
  letter-spacing: 0.2em;
  padding-bottom: 6px;
  cursor: pointer;
  font-size: 1.4em;
  font-weight: 700;
  color: black;
  text-align: center;
  background: url("../images/2x/buttonBG@2x.png") no-repeat;
  background-size: contain;
  bottom: 12%;
  border-radius: 0px;
  width: 240px;
  height: 60px;
  text-decoration: none;
  border: none;
}

/* line 95, ../scss/style.scss */
button:focus {
  outline: none;
}

/* line 100, ../scss/style.scss */
video#bgvid {
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(images/bg.jpg) no-repeat;
  background-size: cover;
}

/* ----- How to play ----- */
/* line 121, ../scss/style.scss */
.guide {
  visibility: hidden;
  position: absolute;
  top: 0;
  z-index: 999;
  background-color: #fb754d;
  width: 100vw;
  height: 100vh;
}
/* line 129, ../scss/style.scss */
.guide h3 {
  text-align: center;
  font-size: 2em;
  margin: 30px auto;
}
/* line 134, ../scss/style.scss */
.guide img {
  cursor: pointer !important;
  display: block;
  width: 65vh;
  margin: 0 auto 20px auto;
}

/* line 142, ../scss/style.scss */
#loadingContainer {
  visibility: hidden;
  margin: 0 auto;
  width: 80px;
  height: 80px;
}

/* ----- Staging ----- */
/* line 151, ../scss/style.scss */
.readyStage {
  position: fixed;
  background-color: "rgba(0,0,0,.40)";
  width: 100vw;
  height: 100vh;
}

/* ----- Setting area ----- */
/* line 161, ../scss/style.scss */
.blue-area {
  background-color: #267884;
  height: 50vh;
  width: 100vw;
  position: relative;
  display: table-cell;
  vertical-align: bottom;
}

/* line 170, ../scss/style.scss */
.red-area {
  width: 100vw;
  background-color: #fb754d;
  height: 50vh;
  position: fixed;
}

/* line 177, ../scss/style.scss */
.block-area {
  width: 100vw;
  background-color: black;
  height: 50vh;
  position: fixed;
  visibility: hidden;
}
/* line 183, ../scss/style.scss */
.block-area img {
  top: 25%;
}

/* line 189, ../scss/style.scss */
.top-half {
  top: 0;
  visibility: visible;
}
/* line 192, ../scss/style.scss */
.top-half img {
  transform: scaleY(-1) scaleX(-1) translate(50%, 0);
}

/* line 197, ../scss/style.scss */
.bottom-half {
  top: 50%;
  visibility: visible;
}

/* ----- Countries title Style + Score ----- */
/* line 204, ../scss/style.scss */
.country-title {
  text-align: left;
  font-size: 5vw;
  color: white;
  width: 60vw;
  display: inline-block;
}
/* line 210, ../scss/style.scss */
.country-title:nth-child(1) {
  margin-left: 20px;
  margin-bottom: 60px;
  margin-top: 40px;
}
/* line 215, ../scss/style.scss */
.country-title:nth-child(2) {
  margin-right: 20px;
  margin-bottom: 40px;
  margin-top: 60px;
  transform: scaleY(-1) scaleX(-1);
}

/* line 223, ../scss/style.scss */
.red-info {
  text-align: center;
}

/* line 227, ../scss/style.scss */
.blue-info {
  text-align: center;
}

/* line 231, ../scss/style.scss */
.score {
  color: #00C997;
  width: 30vw;
  font-size: 5vw;
  display: inline-block;
}
/* line 236, ../scss/style.scss */
.score:nth-child(2) {
  text-align: right;
}
/* line 240, ../scss/style.scss */
.score:nth-child(1) {
  transform: scaleY(-1) scaleX(-1);
  text-align: right;
}

/* ----- Countries thumbnails ----- */
/* line 249, ../scss/style.scss */
.grid {
  display: block;
  width: 830px;
  text-align: center;
  margin: 0 auto;
}

/* line 256, ../scss/style.scss */
.grid2 {
  display: block;
  width: 830px;
  text-align: center;
  margin: 0 auto;
  background-color: aqua;
}

/* line 264, ../scss/style.scss */
.selection-blocks {
  cursor: pointer;
  width: 200px;
  height: 160px;
  background-color: bisque;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* line 274, ../scss/style.scss */
.correct2 {
  background-color: red;
}
