/* ----- Colours ----- */

$yellow: #e7deaf;
$orange: #fb754d;
$green: #00C997;
$dark: #24292E;
$red: #E51F1B;
$blue: #0D64AD;
$block:black;

$skip:visible;
/* ----- Settings ----- */

$countryfontSize:5vw;


/* ----- General ----- */

@mixin overlay() {
    background-color: rgba(0, 0, 0, 1);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;

}

@mixin fontMario() {
    font-size: 12em;
    color: white;
    font-family: "super_mario_256regular";
}

@mixin alignText() {
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    top: 30%;
}



.align-mid {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.shadow-1 {
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
}

h2 {
    color: white;
    font-size: 2em;
    text-align: center;
}

body {
    background-color: $yellow;
    width: 100%;
    height: 100%;
    font-family: 'Frontage Bold', Helvetica, sans-serif;
    overflow: hidden;
}

/* ----- Splash screen ----- */

.blockScreen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 9999999999;
    visibility: $skip;
}

.splashScreen {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 9999;
    top: 0;
    visibility: $skip;
    background: $dark url("../images/bg.png") no-repeat fixed top;

    .sliding-wrap {
        overflow: hidden;
        width: 846px;
        height: 173px;
        position: absolute;
        @extend .align-mid;
        bottom: 20%;
        -webkit-mask-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
    }



    .sliding-flags {
        background: url("../images/flags-bg.png") repeat-x;
        height: 173px;
        width: 5076px;
        animation: slide 60s linear infinite;
    }
    #credit {
        @extend .align-mid;
        bottom: 5%;
        color: white;
        opacity: .5;
        letter-spacing: 1em;
        white-space: nowrap;
    }

}

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-1692px, 0, 0);
    }
}

button {
    font-family: "super_mario_256regular";
    letter-spacing: 0.2em;
    padding-bottom: 6px;
    cursor: pointer;
    font-size: 1.4em;
    font-weight: 700;
    color: white;
    text-align: center;
    background: transparent;
    background-size: contain;
    bottom: 12%;
    border-radius: 0px;
    width: 340px;
    height: 60px;
    text-decoration: none;
    border: none;
    @extend .align-mid;
}

button:focus {
    outline: none;
}

/* ----- How to play ----- */

.guide {
    visibility: $skip;
    position: absolute;
    top: 0;
    z-index: 998;
    background: $dark url("../images/howtoplay.png") no-repeat fixed top;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    h3 {
        text-align: center;
        font-size: 2em;
        margin: 80px auto 0 auto;;
        color: white;
    }
    
}

//#loadingContainer {
//    @extend .align-mid;
//    visibility: $skip;
//    bottom:10%;
//    width: 50px;
//}

/* ----- Staging ----- */

.readyStage {
    visibility: $skip;
    z-index: 99;
    text-align: center;
    @include overlay();
    span {
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        top: 35%;
        letter-spacing: 0.2em;
        text-align: center;
        @include fontMario();

    }
}


/* ----- Setting area ----- */

.blue-area {
    background-color: $dark;
    height: 50vh;
    width: 100vw;
    position: fixed;
    top:0;
    display: table-cell;
    vertical-align: bottom;
    box-shadow: 0 20px 0 $blue inset, 0 -1px 0 black inset;
    padding-top: 60px;
}

.red-area {
    width: 100vw;
    background-color: $dark;
    height: 50vh;
    top: 50%;
    position: fixed;
    box-shadow: 0 -20px 0 $red inset, 0 1px 0 black inset;

}

#countdown {
    position: fixed;
    height: 2vh;
    width: 0;
    top:50%;
    background-color: $yellow;
    z-index: 98;
    transform: translate(0, -1vh);
}


.block-area-top,
.block-area-bottom,
.scoreAnnoucement {
    width: 100vw;
    background-color: $block;
    height: 50vh;
    position: fixed;
    z-index: 999;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        height: 80%;
    }
}

.top-half {
    top: 0;
    visibility: visible;
    box-shadow: 0 12px 0 $blue inset;
    img {
        transform: scaleY(-1) scaleX(-1);
    }
}

.bottom-half {
    top: 50%;
    visibility: visible;
    box-shadow: 0 -12px 0 $red inset;
}

.roundAnnouncement {
    @include overlay();
    @include fontMario();
    font-size: 8em;
    z-index: 99999;
    text-align: center;
    span {
        @include alignText();
        text-align: center;
    }
}

.correctColor {
    background-color: $green;
}

.incorrectColor {
    background-color: rgba(0, 0, 0, .98);
}

.redColor {
    color: $red;

}

.blueColor {
    color: $blue;

}

/* ----- Countries title Style + Score ----- */

.country-title {
    text-align: left;
    font-size: $countryfontSize;
    color: white;
    width: 60vw;
    display: inline-block;
    text-transform: capitalize;
    &:nth-child(1) {
        margin-left: 20px;
        margin-bottom: 60px;
        margin-top: 40px;
    }
    &:nth-child(2) {
        margin-right: 20px;
        margin-bottom: 40px;
        margin-top: 60px;
        transform: scaleY(-1) scaleX(-1);
    }
}

.red-info {
    text-align: center;
}

.blue-info {
    text-align: center;
}

.score {
    color: $green;
    width: 30vw;
    font-size: $countryfontSize;
    display: inline-block;
    &:nth-child(2) {
        text-align: right;

    }
    &:nth-child(1) {
        transform: scaleY(-1) scaleX(-1);
        text-align: right;

    }
}

/* ----- Countries thumbnails ----- */

.grid {
    display: block;
    width: 870px;
    text-align: center;
    margin: 0 auto;
    &:first-child {
        transform: scaleY(-1) scaleX(-1);
    }
}


.selection-blocks {
    cursor: pointer;
    width: 200px;
    height: 160px;
    background-color: $dark;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.correct2 {
    background-color: red;
}
