/* ----- Colours ----- */

$yellow: #e7deaf;
$orange: #fb754d;
$green: #00C997;
$dark: #24292E;

$red: #E51F1B;
$blue: #0D64AD;
$skip:hidden;
$block:black;

/* ----- Settings ----- */

$countryfontSize:5vw;


/* ----- General ----- */

@mixin overlay() {
    background-color: rgba(0, 0, 0, .92);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
}

@mixin fontMario() {
    font-size: 12em;
    color: white;
    font-family: "super_mario_256regular";
}

@mixin alignText() {
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    top: 35%;
}


.align-mid {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.shadow-1 {
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
}

h2 {
    color: white;
    font-size: 2em;
    text-align: center;
}

body {
    background-color: $yellow;
    width: 100%;
    height: 100%;
    font-family: 'Frontage Bold', Helvetica, sans-serif;
    overflow:hidden;
}

/* ----- Splash screen ----- */

.blockScreen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 99999;
    visibility: $skip;
}

.splashScreen {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 9999;
    top: 0;
    visibility: $skip;
    #introTypo {
        margin: 20px auto;
        width: 50vw;
        position: relative;
    }
    #credit {
        @extend .align-mid;
        bottom: 5%;
        white-space: nowrap;
    }
}

button {
    font-family: 'Bangers', cursive;
    letter-spacing: 0.2em;
    padding-bottom: 6px;
    cursor: pointer;
    font-size: 1.4em;
    font-weight: 700;
    color: black;
    text-align: center;
    background: url("../images/2x/buttonBG@2x.png") no-repeat;
    background-size: contain;
    bottom: 12%;
    border-radius: 0px;
    width: 240px;
    height: 60px;
    text-decoration: none;
    border: none;
    @extend .shadow-1;
    @extend .align-mid;
}

button:focus {
    outline: none;
}


video#bgvid {
    visibility: $skip;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(images/bg.jpg) no-repeat;
    background-size: cover;

}

/* ----- How to play ----- */

.guide {
    visibility: $skip;
    position: absolute;
    top: 0;
    z-index: 999;
    background-color: $orange;
    width: 100vw;
    height: 100vh;
    h3 {
        text-align: center;
        font-size: 2em;
        margin: 30px auto;
    }
    img {
        cursor: pointer !important;
        display: block;
        width: 65vh;
        margin: 0 auto 20px auto;
    }
}

#loadingContainer {
    visibility: $skip;
    margin: 0 auto;
    width: 80px;
    height: 80px;
}

/* ----- Staging ----- */

.readyStage {
    visibility: $skip;
    z-index: 99;
    text-align: center;
    @include overlay();
    span {
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        top: 35%;
        letter-spacing: 0.5em;
        text-align: center;
        @include fontMario();

    }
}


/* ----- Setting area ----- */

.blue-area {
    background-color: $dark;
    height: 50vh;
    width: 100vw;
    position: relative;
    display: table-cell;
    vertical-align: bottom;
    box-shadow: 0 12px 0 $blue inset,0 -1px 0 black inset;
   
}

.red-area {
    width: 100vw;
    background-color: $dark;
    height: 50vh;
    position: fixed;
    box-shadow: 0 -12px 0 $red inset,0 1px 0 black inset;
    
}

.block-area-top, .block-area-bottom, .scoreAnnoucement {
    width: 100vw;
    background-color: $block;
    height: 50vh;
    position: fixed;
    visibility: hidden; 
    img {
        top: 25%;
        @extend .align-mid;
    }
}

.top-half {
    top: 0;
    visibility: visible;
    background-color: $green;
    img {
        transform: scaleY(-1) scaleX(-1) translate(50%, 0);
    }
}

.bottom-half {
    top: 50%;
    visibility: visible;
}

.roundAnnouncement {
    @include overlay();
    @include fontMario();
    font-size: 10em;
    text-align: center;
    span {
        @include alignText();
          text-align: center;
    }
}

/* ----- Countries title Style + Score ----- */

.country-title {
    text-align: left;
    font-size: $countryfontSize;
    color: white;
    width: 60vw;
    display: inline-block;
    &:nth-child(1) {
        margin-left: 20px;
        margin-bottom: 60px;
        margin-top: 40px;
    }
    &:nth-child(2) {
        margin-right: 20px;
        margin-bottom: 40px;
        margin-top: 60px;
        transform: scaleY(-1) scaleX(-1);
    }
}

.red-info {
    text-align: center;
}

.blue-info {
    text-align: center;
}

.score {
    color: $green;
    width: 30vw;
    font-size: $countryfontSize;
    display: inline-block;
    &:nth-child(2) {
        text-align: right;

    }
    &:nth-child(1) {
        transform: scaleY(-1) scaleX(-1);
        text-align: right;

    }
}

/* ----- Countries thumbnails ----- */

.grid {
    display: block;
    width: 830px;
    text-align: center;
    margin: 0 auto;
}

.grid2 {
    display: block;
    width: 830px;
    text-align: center;
    margin: 0 auto;
    background-color: aqua;
}

.selection-blocks {
    cursor: pointer;
    width: 200px;
    height: 160px;
    background-color: bisque;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.correct2 {
    background-color: red;
}
